.galleryRow {
	--thumbAlign: #thumbAlign#;
}
.colPicture {
	--thumbWidth: #thumbWidth#;
	--thumbMargin: #thumbMargin#;
}
.galleryPicture,
.galleryGalleryPicture {
	--thumbHeight: #thumbHeight#;
	--thumbBorder: #thumbBorder#;
	--thumbBorderColor: #thumbBorderColor#;
	--thumbRadius: #thumbRadius#;
	--thumbShadows: #thumbShadows#;
	--thumbShadowsColor: #thumbShadowsColor#;
}
.galleryName,
.galleryGalleryName {
	--legendHeight: #legendHeight#;
	--legendAlign: #legendAlign#;
	--legendTextColor: #legendTextColor#;
	--legendBgColor: #legendBgColor#;
}	
.galleryPicture:hover,
.galleryGalleryPicture:hover {
	--thumbOpacity: #thumbOpacity#;
}
