.rowitem {
	margin-bottom: 10px !important;
}
.downloadPicture {
	float: none;
	border: 1px;
}
.downloadPicture img {
	width: 100%;
	height: auto;
	/*
	border:1px solid lightgray;
	box-shadow: 1px 1px 5px darkgray;
	*/
}

.downloadPicture:hover {
	opacity: .7;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
.downloadComment {
	padding-right: 10px;
	float: right;
}
h2{
	margin-bottom: 5px;
	margin-top: 0px;
	padding: 0px;

}
.downloadContent {
	float: left;
	margin-top: 5px;
}
.downloadDate {
	font-size:0.8em;
	font-style: italic;
	/*
	color: grey;
	*/
}
@media (max-width: 768px) {
	.downloadContent {
		display: none;
	}
	
	.downloadPicture img {
		width: 50% ;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/*
* Flux RSS
*/
#rssFeed {
    text-align: right;
    float: right;
}
#rssFeed p {
    display: inline;
    vertical-align: top;
}